.myButton{
    text-align: center;
    font-size:15px;
    text-decoration: none;
    font-weight: 500;
    padding: 3px 6px;
    background: rgba(171, 159, 182, 0.29);
    min-width:70px;
    margin-top: 15px;
    background-image: linear-gradient(rgb(216, 199, 255), rgb(200, 121, 255));
    border-radius: 3px;
    color: rgb(0, 0, 0);
    border: none;
    text-shadow: 0 1px 1px rgba(255,255,255,.7);
    box-shadow: 0 0 10px #efccef;
}

.myButton:hover, .myButton.hover {
    background: #d8c7ff;
    cursor: pointer;
}

.myButton:active, .myButton.active {
    background: #d0d3d6;
    background-image: linear-gradient(rgba(196, 239, 175, 0.76), rgba(0,0,0,0));
    box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}