:root{
    --backround-header: #ffffff;
    --basic-white: #FFFFFF;
    --basic-grey: #F2F2F2;
    --basic-black: #000000;
    --select-color: #ce96f6;

}
.sections{
    position: relative;
    z-index: 10;
}

.submenu
{
    font-size: 17px;
    position: absolute;
    background: var(--backround-header);
    color: #323b40;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3)
}

.submenuLink{
    min-width: 110px;
    text-align: center;
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    border: none;

}

.submenu Link:hover {
    background: #ce96f6;
    color: #ffffff;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    /*width: 1180px;*/
}

.links
{
    text-align: center;
    cursor: pointer;
    min-width: 110px;
    font-size: 20px;
    text-decoration: none;
}
.mainNavigation
{
    font-family: 'Open Sans', serif;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.mainNavigationWrapper
{
    width: 100%;
    background-color: var(--basic-white);
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.19);
}
.mainNavigationWrapper .container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
}
.mainNavigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainNavigation a {
    display: block;
    padding: 26px 20px;
}
.siteNavigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 400px;
}
.userNavigation {
    background-color: var(--basic-grey);
    display: grid;
    display: -moz-grid;
    display: -webkit-box;
    max-height: 86px;
}

.siteNavigation a:hover,
.siteNavigation a:focus,
.userNavigation a:hover,
.userNavigation a:focus
{
    background-color: var(--select-color);
    color: var(--backround-header);
}

