:root{
    --backround-header: #ffffff;
    --basic-white: #FFFFFF;
    --basic-grey: #F2F2F2;
    --basic-black: #000000;
    --select-color: #ce96f6;

}

.submenu
{
    font-size: 17px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.19);
}
.submenu .links{
    padding: 10px 5px;
}
.mainNavigation ul li:hover,
.submenu
{
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1180px;
}

.links
{
    text-decoration: none;
}
.mainNavigation
{
    font-family: 'Open Sans', serif;
    font-style: normal;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.mainNavigationWrapper
{
    width: 100%;
    background-color: var(--basic-white);
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.19);
}
.mainNavigationWrapper .container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.mainNavigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainNavigation a {
    display: block;
    padding: 26px 20px;
}
.siteNavigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 620px;
}
.userNavigation {
    background-color: var(--basic-grey);
    display: grid;
    display: -moz-grid;
    display: -webkit-box;
    max-height: 86px;
}
.userNavigation .loginLink {
    position: relative;
}

.siteNavigation a:hover,
.siteNavigation a:focus,
.userNavigation a:hover,
.userNavigation a:focus
{
    background-color: var(--select-color);
    color: var(--backround-header);
}